<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>

<%= image_tag "blank0.gif" %>
<%= image_tag "blank1.gif" %>
<%= image_tag "blank2.gif" %>
<%= image_tag "blank3.gif" %>
<%= image_tag "blank4.gif" %>
<%= image_tag "blank10.gif" %>
<%= image_tag "blank21.gif" %>
<%= image_tag "blank32.gif" %>
<%= image_tag "blank43.gif" %>
<%= image_tag "blank54.gif" %>
<%= image_tag "blank20.gif" %>
<%= image_tag "blank21.gif" %>
<%= image_tag "blank22.gif" %>
<%= image_tag "blank23.gif" %>
<%= image_tag "blank24.gif" %>
<%= image_tag "blank30.gif" %>
<%= image_tag "blank31.gif" %>
<%= image_tag "blank32.gif" %>
<%= image_tag "blank33.gif" %>
<%= image_tag "blank34.gif" %>
<%= image_tag "blank100.gif" %>
<%= image_tag "blank101.gif" %>
<%= image_tag "blank102.gif" %>
<%= image_tag "blank103.gif" %>
<%= image_tag "blank104.gif" %>
<%= image_tag "blank1010.gif" %>
<%= image_tag "blank1021.gif" %>
<%= image_tag "blank1032.gif" %>
<%= image_tag "blank1043.gif" %>
<%= image_tag "blank1054.gif" %>
<%= image_tag "blank1020.gif" %>
<%= image_tag "blank1021.gif" %>
<%= image_tag "blank1022.gif" %>
<%= image_tag "blank1023.gif" %>
<%= image_tag "blank1024.gif" %>
<%= image_tag "blank1030.gif" %>
<%= image_tag "blank1031.gif" %>
<%= image_tag "blank1032.gif" %>
<%= image_tag "blank1033.gif" %>
<%= image_tag "blank1034.gif" %>

<a href="https://github.com/angular/angular.js">Angular.js</a>

<script>(function(a,b,c,d){})(window,document,'script','//www.example.com/script.js');</script>

<script>
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') +
      '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
