<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <%= stylesheet_link_tag "site", "fragment" %>
    <%= javascript_include_tag "application" %>
    <%= yield_content :head %>
  </head>

  <body class="<%= page_classes %>">

    <div id="main" role="main">
      <%= yield %>
    </div>

  </body>
</html>
