Paginate: <%= paginate %>
Article Count: <%= page_articles.size %>
<% if paginate %>
Page Num: <%= page_number %>
Num Pages: <%= num_pages %>
Per Page: <%= per_page %>
Page Start: <%= page_start %>
Page End: <%= page_end %>
Next Page: '<%= next_page.url if next_page %>'
Prev Page: '<%= prev_page.url if prev_page %>'
<% end %>

<% page_articles.each do |article| %>
  <li><a href="<%= article.url %>"><%= article.title %></a> <time><%= article.date.strftime('%b %e') %></time></li>
<% end %>
